@font-face {
  font-family: 'Arcade';
  src: url('arcadeclassic.ttf');
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero {
  background-image: url("../img/background-home.png");
  background-size: cover;
  margin: 0;
  height: 100vh;
  margin: 0 auto;
}

#controls {
  height: 100vh;
}


.canvas {
  margin: 0 auto;
}

.game-over {
  background-image: url('../img/gameover.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}